<ion-content [fullscreen]="true">
  <div class="card-center">
    <ion-card > 
      <ion-card-header>
        <ion-card-title> <p> Login Page </p></ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-input label="Email" type = "email" labelPlacement="floating" placeholder="Enter your email address"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Password" type = "password" labelPlacement="floating" placeholder="Enter your password"></ion-input>
        </ion-item>

        <ion-button class="forgot" fill="clear">Forgot email/password?</ion-button>
        <ion-button size="full">Login</ion-button>

        <div class="login-text">
          Do not have any account?
          <ion-button size="small" fill="clear" class="custom-button">
            Create Account</ion-button>
        </div>

      </ion-card-content>
    </ion-card>

  </div>
  
  
</ion-content>
