<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>User Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card1">
    <ion-card-content>
      
      <div class="div-profile">
        <ion-avatar class="profile-picture">
          <img alt="Profile Picture" src="assets/icon/Kowmi1.png"/>
        </ion-avatar>
      </div>
    
      <div class="center-info">
        <p> <b>Name :</b> Kowmi</p>
        <p> <b>Contact No. :</b> 01875-xxxxxx</p>
        <p> <b>Address :</b> Dhaka, Bangladesh</p>
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        History 
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Total number of order: 10 <br>
      Order withdrawed: 0 <br>
      Total paid: 30110 bdt <br>
      Actual bill : 35000 bdt <br>
      Discounts : 4890 bdt <br>
      Coin gathered: 200

    </ion-card-content>
  </ion-card>

  <ion-button class="update-info"> Update Information </ion-button>
  
</ion-content>
